#main-menu-button {
    -fx-font: bold 30pt "Helvetica";
    -fx-text-fill: #000000;
    -fx-background-color: #A1B0BA;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#board_side_button{
    -fx-font: bold 25pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255, 0.75);
    -fx-background-color: #5670f0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#resume_button{
    -fx-font: normal 25pt "Helvetica";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: #5689f0;
    -fx-max-height: 30;
    -fx-min-width: 100;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

#save_button{
    -fx-font: normal 25pt "Helvetica";
    -fx-text-fill: rgb(233, 231, 233);
    -fx-background-color: #3d424b;
    -fx-max-height: 30;
    -fx-min-width: 120;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

#home_button{
    -fx-font: normal 25pt "Helvetica";
    -fx-text-fill: rgb(233, 231, 233);
    -fx-background-color: #95ba3b;
    -fx-max-height: 30;
    -fx-min-width: 120;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

#exit_text{
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 20px;
}

#tutorial_text{
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: rgb(255, 255, 255);
}

#next_button{
    -fx-font: normal 25pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #5670f0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-min-width: 50;
}

#back_button{
    -fx-font: normal 24pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #545963;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-min-width: 40;
}

#input_back_button{
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #545963;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-min-width: 30;
}

#input_play_button{
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #5670f0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-min-width: 30;
}

#pre_game_label{
    -fx-font: bold 17pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
}

#pre_game_text{
    -fx-font: normal 15pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
}

#saved_top_label{
    -fx-font: normal 30pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
}


#saved_cancel_button{
    -fx-font: normal 25pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #545963;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-min-width: 40;
}

#table_load_button{
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #5670f0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-min-width: 40;
}

#inventory_button{
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #545963;
    -fx-padding: 10;
}

#close_popout{
    -fx-font: normal 10pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #991111;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-min-width: 40;
}

#greeting_label1{
    -fx-font: bold 30pt "Helvetica";
    -fx-text-fill: rgb(3, 29, 85);
    -fx-text-alignment: center ;
}

#greeting_label2{
    -fx-font: bold 25pt "Helvetica";
    -fx-text-fill: rgb(3, 29, 85);
    -fx-text-alignment: center ;
}

.combo-box .combo-box, .list-cell, .list-view{
    -fx-background-color: #282c34;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: #454545;
    -fx-text-fill: #7fcbfb;
}

.combo-box-base .arrow-button{
    -fx-border-color: transparent;
    -fx-border-width: 5;
    -fx-border-radius: 10;
    -fx-background-color: #175f79;
}

.combo-box-base .arrow-button .arrow {
    -fx-background-color: transparent;
    -fx-min-height: 10;
    -fx-min-width: 10;
    -fx-border-color: white;
    -fx-border-width: 1;
}

.text-field{
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: white;
    -fx-background-color: #463c3c;
}

.text-field:focused{
    -fx-background-color: #454545;
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: white;
}

.table-view{
    -fx-background-color: #4d525b;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#0f3d4e 0%, #2daae3 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font: normal 20pt "Helvetica";
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font: normal 20pt "Helvetica";
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #1e2125;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #2d2f32;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #991111;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

#transparentBackground {
    -fx-background-color: transparent;
}

#test_color{
    -fx-background-color: #031d55
}