#main-menu-button {
    -fx-font: bold 30pt "Helvetica";
    -fx-text-fill: rgba(255, 255, 255, 0.75);
    -fx-background-color: #5670f0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#main-menu-button:hover {
    -fx-text-fill: rgba(255, 255, 255);
    -fx-background-color: #7488eb;
}